body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.clearfix {
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.menubar {
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px #666;
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding-top: 15px;
}

.menubar ul.menu {
    list-style: none;
    float: right;
    margin: 0;
}

.menubar ul.menu li {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    transition: all 0.2s ease;
}

.menubar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0px;
}

.menubar .search {
    float: right;
    padding-top: 20px;
}

.header {
    background: #fff url(../img/background.png) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}

.header_area {
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    padding-top: 150px;
}

.header_area h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bolder;
    color: #f60202;
}

.header_area p {
    margin: 0;
    margin-top: 40px;
    font-size: 26px;
    font-weight: bolder;
    color: #000;
}

.info1 {
    background: #fff url(../img/background2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
}

.info1_area {
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    padding-top: 100px;
    color: #000;
}

.info1_area h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}

.info1_area p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.info2 {
    width: 100%;
    height: 400px;
    background: #f6f7fb;
}

.info2_area {
    color: #000;
}

.info2_area img {
    float: right;
    margin-top: 20px;
    margin-right: 120px;
}

.info2_text {
    text-align: center;
    width: 700px;
    float: left;
    margin-top: 80px;
    color: #000;
}

.info2_area h1 {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
}

.info2_area p {
    margin: 0;
    margin-top: 10px;
    font-size: 21px;
    font-weight: normal;
}

.contact {
    width: 100%;
    height: 500px;
    background: antiquewhite;
}

.contact_area h1 {
    margin: 0;
    padding-top: 15px;
    font-weight: bold;
}

.contact_area input {
    margin: 10px 0;
    border: 2px solid #000;
    width: 400px;
    padding: 5;
    font-size: 16px;
}

.contact_area textarea {
    margin: 10px 0;
    border: 1px solid #000;
    width: 400px;
    padding: 5;
}

.contact_area button {
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    border: 2px solid #000;
    width: 90px;
    padding: 10;
    background: #fff;
    color: #333;
    transition: all 0.2s ease;
    cursor: pointer;
}

.contact_area button:hover {
    border: 2px solid #000;
    background: #333;
    color: #fff;
}

.login {
    width: 100%;
    height: 200px;
    background: #666;
}

.login_area h1 {
    margin: 0;
    padding-top: 15px;
    font-weight: bold;
    color: #fff;
}

.login_area input {
    margin: 0;
    border: 2px solid #fff;
    width: 400px;
    font-size: 16px;
}

.login_area button {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    border: 2px solid #fff;
    width: 150px;
    background: #000;
    color: #fff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.login_area button:hover {
    border: 2px solid #fff;
    background: antiquewhite;
    color: #000;
}

footer {
    margin: 0;
    background: aliceblue;
    text-align: center;
    color: darkgoldenrod;
    font-size: 18px;
    font-weight: bold;
}
